**/user-data/**
**/user-data-go/**
**/user-data-backup/**
roam-stash/**
server-log/**

front/public/**
front/public-br/**
front/src/fonts/**

**/node_modules/**
**/package-lock.json

rando.html

secrets.js
**/email-password.txt

scraping/output/**
back/server
front/minify
front/src/deps/**

**/**.gz

test-data/**
test-data/graphminer-current-old.json