/* global styles */
*{
  outline:none;
}

.dark{
  --background:#161616;
  --text: white;
  --link: #367bb8;
  --brackets:#A7B6C2;
  --tag:#A7B6C2;
  --block-ref:rgb(63, 63, 63);
  --bullet:#89a5b9;
}

.light{
  --background:white;
  --text:black;
  --link: #367bb8;
  --brackets:#A7B6C2;
  --tag:#A7B6C2;
  --block-ref:lightgrey;
  --bullet:#394B59;
}

input{
  border:none;
}

button{
  appearance: none;
  border:none;
  box-shadow: none;
  cursor:pointer;
  background-color:inherit;
  color:inherit;
  font-size:inherit;
}

span{
  margin:0;
  padding:0;
}

::-webkit-scrollbar{
  width:0%;
  height:0%;
}

body {
    font-family: 'Inter', Verdana, Arial;
    font-weight: normal;
    margin: 0;
    color:var(--text);
    background-color: var(--background);
}

a{
  color:var(--link);
}

a:visited { color:var(--link) }


/* styling for singular elements */

#page-frame{
  margin: 0 auto;
  max-width:900px;
}

#search{
  position:fixed;
  top:100px;
  left: 100px;
  right:100px;
}

#search input{
  box-shadow: 0 0 10px rgb(199, 199, 199);
  border-radius: 10px;
  padding: 18px;
  font-size: 28px;
  display:block;
  width:100%;
}

#top-buttons{
  position: fixed;
  top: 0px;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

#download-button{
  color:var(--text);
  display:block;
  font-size:0.9em;
  padding: 11px 10px;
  cursor:pointer;
}

#top-buttons button,#top-buttons a{
  padding: 11px 10px;
  background-color:var(--background);
  font-size:0.9em;
}

/* Page styles */

.page{
  margin-right:20px;
  margin-left:30px;
}

.page__title{
  font-size: 36px;
  margin: 45px 0 10px 0;
}

.page__body{
  margin-left:20px;
}

.backrefs-list__title{
  font-size: 1.2em;
  font-weight:bold;
  padding: 15px 0;
}


.block{
  padding:4px 0;
  position:relative;
}

.block__bullet-hitbox{
  cursor:pointer;
  position:absolute;
  width:20px;
  height:20px;
  left:-22px;
  top:5px;
}

.block__bullet{
  background-color:var(--bullet);
  border-radius:3px;
  margin:7px 0px 0px 6px;
  width:6px;
  height:6px;
}

.block__body{
}

.block__children{
  margin-left: 25px;
}

.block-focus-frame{
  margin: 60px 0;
}

/* Parsed blocks */

.page-ref__brackets{
  font-weight: lighter;
  color:var(--brackets);
}

.page-ref__body{
  color:var(--link);
  font-weight: bold;
}

.page-ref__body:hover{
  text-decoration: underline;
  cursor:pointer;
}

.tag{
  color:var(--tag);
}

.tag:hover{
  text-decoration: underline;
  cursor:pointer;
}

.block-ref{
  background-color:var(--block-ref);
}

.block-ref:hover{
  text-decoration: underline;
  cursor:pointer;
}

.bold{
  font-weight:bold;
}