*{
  margin:0;
  padding:0;
    --grey0: black;
    --grey1: #1e1e1e;
    --grey2: #252526;
    --grey3: #333333;
    --grey4: #3c3c3c;
    --white0: white;
    --white1: #eeeeee;
    --white2: #d4d4d4;
    --white3: #cccccc;
    --white4: #858585;
    --blue: rgb(29, 56, 212);
    --purple: rgb(130, 21, 180);
}

body {
    background-color: var(--grey1);
    color: var(--white2);
    font-family: Verdana, Arial;
    margin: 0;
}


.page{
}

.page__title{

}

.block__body{

}

.block__children{
  padding-left: 30px;
}

