/* global styles */
.dark-mode{
  --background:#161616;
  --text: white;
  --link: #367bb8;
}
.light-mode{
  --background:white;
  --text:black;
  --link: #367bb8;
}

input{
  border:none;
  outline:none;
}

span{
  margin:0;
  padding:0;
}

::-webkit-scrollbar{
  width:0%;
  height:0%;
}

body {
    font-family: 'Ubuntu', 'Inter', Verdana, Arial;
    margin: 0;
    color:var(--text);
    background-color: var(--background);
}


/* styling for singular elements */

#page-frame{
  margin: 0px 20px 200px 30px;
}

#search{
  position:fixed;
  top:100px;
  left: 100px;
  right:100px;
}
#search input{
  border-radius: 10px;
  padding: 18px;
  font-size: 28px;
  display:block;
  width:100%;
}

/* Page styles */

.page__title{
  font-size: 36px;
  margin: 45px 0 10px 0;
}

.block__body{
  padding:4px 0;
  outline:none;
}

.block__children{
  padding-left: 25px;
}

.page-ref__brackets{
  font-weight: lighter;
}

.page-ref__body{
  color:var(--link);
  font-weight: bold;
}

.page-ref__body:hover{
  text-decoration: underline;
  cursor:pointer;
  font-weight:bolder;
}

/* unused 
#block-input{
  background-color:unset;
  display:block;
  width:inherit;
  font-size: 1em;
}
.page{
}

.page__title{

}

.block{
  padding-left:17px;
}