/* global styles */
*{
  outline:none;
  scrollbar-width:none;
}

.dark{
  --background:#161616;
  --text: white;
  --link: #3f84c0;
  --brackets:#A7B6C2;
  --block-ref:rgb(63, 63, 63);
  --bullet:#758897;
  --border:#afbeca;
  --break: #838e97;
  --highlight:rgb(110, 93, 16);
  --click:darkgrey;
  --page-ref:#2bcc5b;
  --shadow:rgb(98, 98, 98);
}

.light{
  --background:white;
  --text:black;
  --link: rgb(54, 123, 184);
  --brackets:#A7B6C2;
  --block-ref:lightgrey;
  --bullet:#394B59;
  --border:#585e64;
  --shadow:#585e64;
  --break:#a8b4be;
  --highlight:rgb(255, 239, 146);
  --click:rgb(197, 197, 197);
  --page-ref:rgb(73, 197, 91);
}

input, button, a{
  font-family: 'Inter', Verdana;
}

input{
  border:none;
}

button{
  appearance: none;
  border:none;
  box-shadow: none;
  cursor:pointer;
  background-color:inherit;
  color:inherit;
  font-size:inherit;
}

span{
  margin:0;
  padding:0;
}

::-webkit-scrollbar{
  width:0%;
  height:0%;
}

::selection{
  background-color:#85b7e8;
  color:var(--text);
}

body {
    scrollbar-width: 0px;
    font-family: 'Inter', Verdana, Arial;
    font-weight: normal;
    margin: 0;
    color:var(--text);
    background-color: var(--background);
}

a{
  color:var(--link);
}

a:visited { color:var(--link) }


/* styling for singular elements */

#app{
  height:100%;
  width:100%;
  display:flex;
  flex-direction: column;
}

#page-frame-outer{
  width:100%;
  overflow-y:scroll;
}

#page-frame{
  margin: 0 auto;
  max-width: min(900px, 100%);
}

#top-bar{
  width:100%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  background-color:var(--background);
}

#top-bar a, #top-bar button{
  padding: 14px 10px 10px;
  font-size:0.9em;
}

#download-button, #report-issue-button {
  color:var(--text);
  display:block;
  cursor:pointer;
  text-decoration: none;
}

#search-input{
  background-color:var(--background);
  color:var(--text);
  padding:3px 13px;
  margin: 7px 5px 5px;
  display:block;
  font-size:1.2em;
  box-shadow:0 0 2px var(--shadow);
  border-radius:100px;
  flex-grow: 1;
}

#autocomplete-list{
  position:absolute;
  display:flex;
  flex-direction: column;
  background-color:var(--background);
  font-size:1.3em;
  border-radius:5px;
  box-shadow: 0 0 8px var(--shadow);
}

.autocomplete__suggestion[data-selected="true"]{
  background-color:var(--click);
}

.autocomplete__suggestion{
  padding:7px;
  cursor:pointer;
  border-radius: 5px;
}

/* Page styles */

.page{
  margin-right:30px;
  margin-left:30px;
  position:relative;
}

.page__title{
  font-size: 36px;
  margin: 40px 0 20px 0;
}

.page__body, .backrefs-list__body{
  margin-left:20px;
}

.backrefs-list__title{
  font-size: 1.2em;
  font-weight:bold;
  padding: 15px 0;
}

.page-break{
  height:0px;
  margin: 60px 25px;
  border:1px solid var(--break);
  border-width: 1px 0 0 0;
}


.block{
  position:relative;
}

.block__body{
  padding:5px 0;
}

.block__bullet{
  cursor:pointer;
  position:absolute;
  left:-21px;
  top:4px;
}

.block__children{
  margin-left: 25px;
}

.block-focus-frame{
  margin: 60px 0;
}

/* Parsed blocks */

.page-ref__brackets{
  font-weight: lighter;
  color:var(--brackets);
}

.page-ref__body{
  color:var(--page-ref);
  font-weight: 800;
}

.page-ref__body:hover{
  text-decoration: underline;
  cursor:pointer;
}

.tag{
  color:var(--page-ref);
  font-weight: 800;
}

.tag:hover{
  text-decoration: underline;
  cursor:pointer;
}

.block-ref{
  background-color:var(--block-ref);
}

.block-ref:hover{
  text-decoration: underline;
  cursor:pointer;
}

.bold{
  font-weight:bold;
}

.italic{
  font-style:italic;
}

.highlight{
  background-color: var(--highlight);
  border-radius:2px;
  padding:1px;
}

.block-focus-frame{
  margin: 35px 0 0 60px;
}

.url{
  color:var(--link);
  text-decoration: underline;
  cursor:pointer;
}

#terminal{
  font-family:'Inconsolata';
  width:100%;
  padding:8px;
  background-color: black;
  color:white;
}


.code{
  font-family:'Inconsolata';
  font-weight:600;
  padding:8px;
  border:1px solid var(--border);
  border-radius: 5px;
}